/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');*/



@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	font-display: swap;

	src: url('Roboto-Light.woff2') format(woff2), url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-display: swap;

	src: url('Roboto-Regular.woff2') format(woff2), url('../fonts/Roboto-Regular.woff') format('woff');

}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	font-display: swap;

	src: local("Roboto"), url('Roboto-Bold.woff2') format(woff2), url('../fonts/Roboto-Bold.woff') format('woff');

}

* {
	font-family: "Roboto";
	font-weight: 700;
}